{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [ "react" ],
  "rules": {
    "strict": 0,
    "no-unreachable": 2,
    "eqeqeq": 2,
    "dot-notation": 2,
    "no-else-return": 2,
    "linebreak-style": [ 2, "unix" ],
    "comma-dangle": [ 2, "always-multiline" ],
    "no-unused-vars": 2,
    "semi": [ 2, "never" ],
    "no-var": 2,
    "arrow-spacing": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "no-useless-constructor": 2,
    "space-in-parens": [ 2, "never" ],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-indent": [ 2, 2 ]
  }
}
