button
  width 60%
  background-color transparent
  color rgb(32, 152, 40)
  padding 0.5rem
  border 2px solid
  border-radius 5px
  transition all 0.25s ease
  outline none
  user-select none

button:hover
  background-color rgb(32, 152, 40)
  color white

button .fa
  margin-left: 0.7rem
