.main-area
  background white
  color rgb(65, 65, 65)

  a
    color rgb(55, 55, 55)

.subject-area
  height 100vh
  padding 2rem
  overflow scroll

.subject-name
  font-size 1.6rem
  display flex
  font-family 'Dosis', sans-serif
  font-weight bold

  input
    font-size 2rem
    color rgb(189, 24, 24)

  i
    margin-left 1.35rem
    font-size 1.4rem
    opacity 0.6
    color rgb(78, 93, 50)
    cursor pointer

  i:hover
    opacity 1

.name-row
  display flex
  align-items center
  color #484848

  .subject-toolbar
    display flex
    margin-left auto

    button
      margin 0.7rem
      font-size 0.9rem
      padding 0.5rem

.delete-btn
  width 6rem
  color rgb(189, 46, 14)

  &:hover
    background-color rgb(189, 46, 14)
    color white
    border-color rgb(189, 46, 14)

.subject-data
  .dropzone,
  .paste-text-info
    flex 1

.paste-text-info
  display flex
  align-items center
  justify-content center
  font-size 2rem

.documents-list
  margin-top: 2rem

.name-row-type
  font-size 0.9rem
  margin-right 0.4rem
  color rgb(111, 111, 111)

.no-items
  .fa-folder-open-o,pm st
  .fa-file-o
    color #7cb77f
    padding 1.2rem
    font-size 5.5rem

.discard-all
  margin-left auto
  width 17rem
