.start-message
  font-size 1.5rem
  padding 3.5rem
  color rgb(30, 98, 48)

  i
    font-size 2rem
    transform scaleX(2) translateX(-10px)

.subject-area
  height calc(100vh - 4rem)
  padding 1rem 2rem 2rem 2rem

.subject-title
  font-size 2rem
