.subject-area
  height calc(100vh - 4rem)
  padding 2rem
  overflow scroll

.subject-name
  font-size 2rem
  display flex

  input
    font-size 2rem
    color rgb(189, 24, 24)

  i
    margin-left 1.35rem
    font-size 1.4rem
    opacity 0.6
    color rgb(78, 93, 50)
    cursor pointer

  i:hover
    opacity 1

.name-row
  display flex
  align-items center

  .subject-toolbar
    display flex
    margin-left auto

    button
      margin 1rem

  .delete-btn
    width 10rem
    color rgb(189, 46, 14)

    &:hover
      background-color rgb(189, 46, 14)
      color white
      border-color rgb(189, 46, 14)

.subject-data
  .dropzone,
  .paste-text-info
    flex 1

.paste-text-info
  display flex
  align-items center
  justify-content center
  font-size 2rem
