.document-title
  font-family 'Dosis', sans-serif
  font-size 1.5rem

.sentence
  cursor pointer
  background-color rgba(0, 0, 0, 0)
  transition all 0.2s ease

  &.tagged
    background-color rgb(134, 242, 152)

  &.has-suggestion
    background-color rgb(185, 225, 250)

  &:hover
    background-color rgb(196, 251, 79)

.autotag
  margin 0.7rem 0.7rem 0.7rem auto
  width 9rem
  color rgb(50, 117, 232)

  &:hover,
  &:focus
    background-color rgb(50, 117, 232)
    color white
