@import 'colors'
@import 'hover'
@import 'modal'
@import 'button'

html, body, #root, #app, .dashboard
  width 100%
  height 100%
  margin 0
  font-family 'Roboto', sans-serif
  background-color: rgb(236, 235, 235);

form
  margin 0
a
  color black
  text-decoration none
  cursor pointer

*
  box-sizing border-box !important

.header
  background grey
  height 5rem
  display flex
  align-items center

.header a
  color primary

.logo
  padding 0 5rem
  font-size 2rem
  font-family 'Dosis', sans-serif
  font-size 1.3rem
  font-weight 600
  letter-spacing 1px

.top-nav-item
  font-size: 1.2rem
  font-weight: 500
  padding: 1rem

.menu
  margin-left auto
  padding 0 5rem

.menu a
  font-size: 1.2rem
  font-weight: 500
  padding: 1rem

.login-form > * + *
  margin-top 1rem

.login-form *
  width 100%

.login-form input
  padding 0.5rem 0.9rem

.slogan
  font-size 3rem
  font-weight bold
  letter-spacing -3px
  color rgb(67, 110, 90)
  display flex
  flex-direction column
  line-height 0.8

.button-row
  display flex
  justify-content center
  margin-top 1.5rem

.button-row > button:first-child
  margin-right 0.5rem

.button-row > button:last-child
  margin-left 0.5rem

.error
  text-align center
  color rgb(223, 61, 26)

.dashboard
  display flex

.sidebar
  height 100%
  width 20rem
  background-color rgb(48, 71, 58)
  color rgb(202, 230, 225)
  padding 2rem 0

.main-area
  width calc(100vw - 20rem)

.greeting
  padding-left 1.5rem
  font-size 1.2rem

  .welcome
    color rgb(154, 209, 174)
    font-size 0.95rem

  i
    margin-right 0.75rem

.subject-nav
  margin-top 2rem

.subject-nav-item
  color rgb(202, 230, 225)
  padding 0.6rem 0 0.6rem 1.5rem
  background-color rgb(59, 85, 71)
  display flex
  align-items center
  transition all 0.25s ease
  cursor pointer

.subject-nav-item a
  color rgb(202, 230, 225)

.subject-nav-item i
  margin-left auto
  padding-right 1rem

.subject-nav-item:hover
  background-color: rgb(61, 103, 81)

.top-row
  display: flex
  flex-direction: row-reverse
  height: 4rem
  align-items: center
  padding-right: 2rem

.top-row a
  padding 1rem
  font-size 1.2rem

// material-ui override
.auth-modal > div > div > div
  display flex
  justify-content center
  background transparent !important
  box-shadow initial !important

.plan-message
  margin-right auto
  padding-left 2rem
  font-weight bold
  font-size 1rem
  color rgb(201, 52, 31)

  i
    margin-right 0.5rem

  .underline
    margin-left 0.3rem

.underline
  padding-bottom 0.4rem
  border-bottom 2px solid rgb(201, 52, 31)

.start-message
  font-size 1.5rem
  padding 3.5rem
  color rgb(30, 98, 48)

  i
    font-size 2rem
    transform scaleX(2) translateX(-10px)
