@import 'colors'
@import 'hover'
@import 'modal'
@import 'button'
@import 'sidebar'
@import 'dashboard'
@import 'util'
@import 'dropzone'
@import 'table'
@import 'document'

html, body, #root, #app, .dashboard
  width 100%
  height 100%
  margin 0
  font-family 'Roboto', sans-serif
  background-color #2C9A2F
  color white

*
  box-sizing border-box !important

form
  margin 0

a
  color white
  text-decoration none
  cursor pointer

p
  font-weight 100
  font-size 1.3rem

input
  color rgb(65, 65, 65)

input:focus
  border-bottom: 1px solid rgb(32, 152, 40) !important
  box-shadow: 0 1px 0 0 rgb(32, 152, 40) !important

.home
  height 100%
  padding 5rem
  display flex
  flex-direction column

  .login-link
    display flex
    align-items center

    .fa-user
      padding-right 0.5rem

  .fa-file-archive-o
    font-size 6rem
    align-self flex-end
    margin-top auto

.header
  height 5rem
  display flex
  align-items center

.logo
  font-family 'Dosis', sans-serif
  font-size 2rem
  font-weight 600
  letter-spacing 1px

.top-nav-item
  font-size: 1.2rem
  font-weight: 500
  padding: 1rem

.menu a
  font-size: 1.2rem
  font-family 'Dosis', sans-serif
  padding-bottom 0.5rem

.form
  display flex
  flex-direction column
  justify-content center
  align-items center

.login.form > * + *
  margin-top 1rem

.login.form *
  width 100%

.login.form input
  padding 0.5rem 0.9rem

.slogan
  font-size 3rem
  font-weight bold
  letter-spacing -3px
  color rgb(67, 110, 90)
  display flex
  flex-direction column
  line-height 0.8

.button-row
  width 100%
  display flex
  justify-content center
  margin-top 1.5rem

.button-row > button:first-child
  margin-right 0.5rem

.button-row > button:last-child
  margin-left 0.5rem

.error
  text-align center
  color rgb(223, 61, 26)

.dashboard
  display flex

.main-area
  width calc(100vw - 20rem)

.top-row
  display: flex
  flex-direction: row-reverse
  height: 4rem
  align-items: center
  padding-right: 2rem

.top-row a
  padding 1rem
  font-size 1.2rem

.plan-message
  margin-right auto
  padding-left 2rem
  font-weight bold
  font-size 1rem
  color rgb(201, 52, 31)

  i
    margin-right 0.5rem

  .underline
    margin-left 0.3rem

.underline
  padding-bottom 0.4rem
  border-bottom 2px solid rgb(201, 52, 31)
