// material-ui override
.modal-container > div > div > div
  display flex
  justify-content center
  background transparent !important
  box-shadow initial !important

.modal-title
  font-family 'Dosis', sans-serif

.modal-content
  background white
  padding 2rem 3rem 1rem
  border 14px solid rgb(28, 204, 61)
  border-radius 8px
  position relative
  color rgb(61, 61, 61)

  &.editing
    border 14px solid rgb(195, 164, 33)

    button
      color rgb(195, 164, 33)

      &:hover
        background-color rgb(195, 164, 33)
        color white

  &.auth
    width 26rem
    height 20rem

  &.new-subject
    width 26rem
    height 20rem

  &.new-document
    width 35rem

    textarea
      height 5rem
      padding 0.5rem

  &.confirm
    width 26rem
    height 14rem
    border 14px solid rgb(195, 53, 33)

    .delete
      background-color white
      color rgb(195, 53, 33)

    .delete:hover
      background-color rgb(195, 53, 33)
      color white

  .error
    margin-top 1rem

.modal-title
  font-size 1.5rem
  margin-bottom 1.5rem

.close-btn
  position absolute
  top 10px
  right 10px
  cursor pointer
  color rgb(78, 78, 78)

.close-btn:hover
  color rgb(201, 53, 53)
